{%- extends "bootstrap/base.html" %}

{% block head %}
<head>
    <meta charset="utf-8">
    <title>Рейтинг</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand" ><img class="navbar-brand" src="/static/logo.svg">Розумний паб</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="/">Рейтинг</a></li>
          <li class="nav-item"><a class="nav-link" href="/matches">Матчі</a></li>
          <li class="nav-item">
              <a class="nav-link pull-right" href="https://www.facebook.com/CleverPub/">
                  <i class="fa fa-facebook-square"></i>
              </a>
          </li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class = "table">
    <thead>
    <tr>
        <th>#</th>
        <th>Гравець</th>
        <th>Рейтинг</th>
    </tr>
    </thead>
    <tbody>
        {% for item in data %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{item.name}}</td>
        <td>{{item.rate}}</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</div>

{% endblock %}